@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Spartan:wght@300;400;500;600&display=swap");

:root {
  --color-primary: #1054a1;
  --color-black: #1a1a1a;
  --color-white: #fff;
  --transition: all 0.2s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
  list-style: 64px;
  color: var(--color-primary);
}

h2 {
  font-size: 46px;
  list-style: 54px;
  color: var(--color-primary);
}

h4 {
  font-size: 20px;
}

h6 {
  font-weight: 600;
  font-style: 12px;
}

p {
  font-size: 16px;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 70px 80px;
  position: relative;
}

.section-m1 {
  margin: 40px 0;
}

.watermark {
  position: absolute;
  top: 155px;
  left: 360px;
  font-size: 220px;
  opacity: 0.17;
  z-index: -1;
  color: #798b9c;
}

a {
  cursor: pointer;
}
body {
  width: 100%;
  margin: 0 auto;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding: 5px 80px;
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 15px;
}

#navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-black);
  transition: var(--transition);
  position: relative;
}

#navbar li a:hover,
#navbar li a.action {
  color: var(--color-primary);
}

#header span {
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  color: var(--color-primary);
  top: 22px;
}

#navbar li a.action::after,
#navbar li a:hover::after {
  content: "";
  position: absolute;
  bottom: -35px;
  left: 0;
  height: 6px;
  border-radius: 5px;
  background-color: var(--color-primary);
  width: 100%;
  transition: var(--transition);
}

input {
  width: 300px;
  height: 40px;
  border-radius: 15px;
}

#home {
  background-image: url(../images/bg-ait.png);
  width: 100%;
  height: 650px;
  background-size: cover;
  position: relative;
}

#home > div {
  position: absolute;
  top: 190px;
  left: 350px;
}

#home h1 {
  font-size: 70px;
}

#home a {
  font-size: 25px;
  padding: 15px 55px;
  border: none;
  border-radius: 15px;
  color: var(--color-white);
  background-color: var(--color-primary);
}

#about .title-section {
  padding-left: 200px;
}

#about .title-section h4 {
  color: #798b9c;
}

#about .about-card {
  display: flex;
  justify-content: flex-start;
  margin: 200px 100px 0;
  gap: 2em;
}

#about .about-card .about-card__item {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 25px;
  border-radius: 15px;
}
